################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/libqt-mono-sharp
/obj
/libqt-mono-sharp.vcxproj.user
/.vs/VSWorkspaceState.json
